

        .footer--firstPart{
            @include flexbox(column, space-around);
            text-align: center;
            height: 50vh;
            color: $footerText;
            background-color: $footerBackgroudAndLine;
        }
    
        .footer--secondPart{
            @include flexbox(column, space-around);
            height: 10vh;
            color: $white;
            background-color: $footerBackgroundTitle;
        }
    
        .footer--thirdPart{
            @include flexbox(column, space-around, stretch);
            height: 40vh;
            color: $footerText;

            .footer--thirdPart__button{
            @include flexbox(space-between);
            }
        }


        
