
.header {
    position: sticky;
    @include flexbox;
    background-color: $white;
    opacity: 0.5;
    height: 8vh;
    

    *{
        box-sizing: border-box;
    }

    .menu {
        display: none;
        list-style-type: none;
        padding-top: 65px;

        li {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        li:first-child{
            background-color: pink;
        }

        li:nth-child(2){
            background-color: yellow;
        }

        li:nth-child(3){
            background-color: blueviolet;
        }
      
        a {
            @include link;
        }

    }


    &.header-is-open{
        height: 100vh;
        display: flex(column);
        flex-direction: columns;

        .container{
            align-self: flex-start;
        }

    }
        

    .is-open-menu {
        @include flexbox( column, space-around, stretch);
        background-color: blue;
        color: $black;
        text-align: center;
        font-style: bold;
        font-weight: 500;
        width: 100vw;
        height: 100vh;

    }
}
     

.container {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;

}
  
.bar {
    width: 35px;
    height: 3px;
    background-color: $text;
    margin: 6px 0;
    transition: 0.4s;
}

.is-click .bar:nth-child(1){
    -webkit-transform: rotate(-45deg) translate(-8px, 8px) ;
    transform: rotate(-45deg) translate(-8px, 8px) ;
}
  
.is-click .bar:nth-child(2) {
    opacity: 0;
}
.is-click .bar:nth-child(3){
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
