.header {
    position: fixed;
    top: 0;
    left: 0;
    @include flexbox(row, space-between, center);
    background-color: $white;
    height: 8vh;
    width: 100vw;
    z-index: 999;

    @include tablet-up {
        display: grid;
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 8vh 4vh;
        grid-template-areas: "a b""c c";
        height: 12vh;

        @include desktop-up {
            height: 16vh;
        }

        .header__icons {
            grid-area: b;
            justify-self: center;
        }

        .menu {
            grid-area: c;
        }
    }

    * {
        box-sizing: border-box;
    }

    .logo {
        @include flexbox(row, space-around, center);

        &__novapellicia {
            width: 120px;
            height: 30px;

            @include tablet-up {
                width: 270px;
                height: 180px;
                margin-left: 24vw;
            }

            @include desktop-up {
                margin-top: 25px;
                width: 320px;
                height: 100px;
                position: relative;
                z-index: 1;
                margin-left: 21vw;

            }
        }
    }

    .header__icons {
        @include flexbox(row, space-around, center);
        width: 13vh;

        margin: 0 6px;
        color: #3d3d3d;

        @include tablet-up {}

        @include desktop-up {
            margin-top: 42px;

        }


        &__like,
        &__account,
        &__basket {
            @include iconsLike;

            @include tablet-up {
                margin: 2px auto;
            }
        }

        @include tablet-up {
            @include flexbox(row, space-between, center)
        }
    }

    .header__icons:nth-last-child(3) {
        stroke: black;
        border: 2px;
        width: 100px;
    }

    .menu {
        display: none;
        list-style-type: none;
        // padding-top: 65px;
        font-family: $fontRoboto;
        font-size: rem(16px);

        @include tablet-up {
            @include flexbox(space-around);
            padding: 4px 15vw;
            margin-top: 20px;
            width: 100vw;
            text-align: center;

        }

        @include desktop-up {
            margin-top: 20px;

        }

        li {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tablet-up {
                margin-bottom: 15px;
            }

            @include desktop-up {
                margin-bottom: 15px;
            }
        }


        li:first-child {
            background-color: #F4EEF1;
            cursor: pointer;

            @include tablet-up {
                background-color: white;
            }

            @include desktop-up {
                background-color: white;
            }
        }

        li:nth-child(2) {
            background-color: #DCD1D7;
            cursor: pointer;

            @include tablet-up {
                background-color: white;
            }

            @include desktop-up {
                background-color: white;
            }
        }

        li:nth-child(3) {
            background-color: #C8CED9;
            cursor: pointer;

            @include tablet-up {
                background-color: white;
            }

            @include desktop-up {
                background-color: white;
            }
        }

        a {
            text-decoration: none;
            color: #3D3D3D;
            font-size: rem(18px);
            // margin-bottom: 10px;

            &:hover {
                font-weight: 900;
                color: #BD8396;
            }

            @include tablet-up {
                font-size: rem(16px);
                margin-bottom: 10px;

            }

            @include desktop-up {
                margin-bottom: 10px;
                margin-top: 45px;

            }

            // @include link; //ne pas réactiver sur les link du header//
        }

    }


    &.header-is-open {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .container {
            position: absolute;
            z-index: 1;


            @include tablet-up {
                display: none;
            }
        }

        .container {
            align-self: flex-start;
        }

        .logo {
            display: none;

        }

        .header__icons {
            display: none;
        }

    }


    .is-open-menu {
        @include flexbox(column, space-around, stretch);
        background-color: white;
        color: $black;
        text-align: center;
        font-style: bold;
        font-weight: 900;
        width: 100vw;
        height: 100vh;

    }
}

.header-on-scroll {
    padding: rem(4px);

    @include tablet-up {
        @include flexbox(space-around);
    }

    .logo__novapellicia {
        margin-left: 5vw;

        @include tablet-up {
            margin-left: 5vw;
            width: 170px;
            height: 80px;
        }

        @include desktop-up {
            margin-left: 5vw;
            width: 270px;
            height: 180px;

        }
    }

    .header__icons {
        order: 3;
        margin-top: -5px;
        margin-right: 25px;

        &__like,
        &__account,
        &__basket {
            @include iconsLike;

            @include tablet-up {
                margin: 5px 5px;
            }
        }

        // @include tablet-up {
        //     @include flexbox(row, space-between, center)
        // }

        @include tablet-up {
            margin-top: 0;
        }

        @include desktop-up {
            margin-top: 35px;

        }
    }

    .menu {
        @include tablet-up {
            padding: 4px 5vw;
        }

        @include desktop-up {
            padding: 4px 10vw;

        }

        a {
            @include tablet-up {
                font-size: rem(12px);
                margin-bottom: 0;

            }

            @include desktop-up {
                font-size: rem(16px);
                margin-top: 35px;


            }
        }
    }
}

.container {
    @include flexbox(row, space-around, center);
    display: inline-block;
    width: 65px;
    cursor: pointer;
    // position: absolute;
    // z-index: 1;


    @include tablet-up {
        display: none;
    }
}

.bar {
    width: 30px;
    height: 3px;
    background-color: $text;
    margin: 6px 0;
    margin-left: 10px;
    transition: 0.4s;
}

.is-click {
    margin-top: 20px;
}


.is-click .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-6.5px, 6.5px);
    transform: rotate(-45deg) translate(-6.5px, 6.5px);
}

.is-click .bar:nth-child(2) {
    opacity: 0;
}

.is-click .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-6.5px, -6.5px);
    transform: rotate(45deg) translate(-6.5px, -6.5px);
}

.header__icons__like {
    &:hover {
        stroke: #FFCDD2;
    }
}