* {
  box-sizing: border-box;
}

.section-article {
  font-family: $fontMonserrat;
  @include flexbox(column, center);
  line-height: 1.5;
  margin-top: rem(120px);
  margin-bottom: 100px;
  color: $white;

  @include tablet-up {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include desktop-up {
    @include flexbox(row, center, center);
    margin: 100px 0;


    &__visual:nth-child(1) {
      order: 2;
      width: rem(665px);
      height: rem(420px);
    }

    &__text:nth-child(2) {
      order: 1;
      width: rem(520px);
      height: rem(420px);
    }
  }


  &__text {
    background-color: black;
    width: rem(300px);
    height: rem(300px);

    @include tablet-up {
      width: rem(500px);
      height: rem(400px);
    }

    @include desktop-up {
      width: rem(520px);
      height: rem(420px);
    }
  }

  &__visual {
    width: rem(300px);
    height: rem(300px);

    @include tablet-up {
      width: rem(500px);
      height: rem(500px);
    }

    @include desktop-up {
      width: rem(665px);
      height: rem(420px);
    }
  }

  &__img {
    width: rem(300px);
    height: rem(300px);

    @supports (object-fit: cover) {
      width: 100%;
      height: rem(300px);
      object-fit: cover;
    }

    @include tablet-up {
      width: rem(325px);
      height: rem(440px);
      top: rem(110px);
      left: rem(130px);

      @supports (object-fit: cover) {
        width: 100%;
        height: rem(500px);
        object-fit: cover;
      }
    }

    @include desktop-up {
      width: rem(665px);
      height: rem(420px);
    }
  }

  &__title {
    font-family: $fontMonserrat;
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(18px);
    line-height: 1.5;
    text-align: left;
    margin: 20px 20px;

    @include tablet-up {
      font-size: rem(25px);
      margin: 25px 25px;
    }

    @include desktop-up {
      font-size: rem(28px);
      margin: 30px 30px;
    }
  }

  &__paragraph {
    font-family: $fontMonserrat;
    font-size: rem(16px);
    line-height: 1.5;
    color: $white;
    margin: 15px 20px;

    @include tablet-up {
      font-size: rem(18px);
      margin: 30px 30px;
    }

    @include desktop-up {
      font-size: rem(20px);
    }
  }

  &__button {
    @include button-large;
    margin: 15px 20px;

    @include tablet-up {
      @include button-large;
      margin: 15px 30px;
    }

    @include desktop-up {
      margin: 20px 30px;

    }
  }
}