.hero {
    background-image: url(/images/background-hero-mobile.svg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    @include flexbox(column, flex-start);
    text-align: left;
    position: relative;
    z-index: -2;
    margin-top: 8vh;

    @include desktop-up {
        background-image: url(/images/background-hero-desktop.png);
        background-size: contain;
        background-position-x: -40%;
        @include flexbox(row, space-between, right);
        text-align: right;
    }

    .hero__product {
        @include flexbox(column, center, center);
        height: 50vh;

        @include desktop-up {
            width: 70vw;
        }

        &__photo {
            width: 200px;
            height: 270px;
            z-index: -1;
            margin-top: 6%;

            @include tablet-up {
                width: 300px;
                height: 370px;
                margin-top: 8%;
            }

            // @media (min-width: 1023px) {
            //     width: 430px;
            //     height: 530px;
            // }

            @media (min-width: 1023px) and (max-height:758px) {
                width: 270px;
                height: 330px;
                margin-top: 10%;
            }

            // @media (min-width: 1023px) and (max-height:1367px) {
            //     width: 330px;
            //     height: 430px;
            // }

            @include desktop-up {
                @include flexbox(row, center, center);
                width: 330px;
                height: 410px;
                height: 60Vh;
                margin-left: 30%;
            }
        }
    }

    .hero__text {
        height: 50vh;
        max-height: fit-content;
        width: 85vw;
        color: $titleHeroAndJacquemus;
        margin: 10% auto;
        text-align: left;
        line-height: 1.5;

        @include tablet-up {
            margin: 5% auto;
        }

        @media (min-width: 1023px) and (max-height:758px) {
            margin: 6% auto;
        }

        @include desktop-up {
            @include flexbox(column, center, right);
            width: 30vw;
            margin: 5%;
        }

        .hero__text__title {
            font-size: 6vw;
            font-family: $fontPlayfair;
            margin-bottom: rem(10px);

            .bolder {
                font-weight: bold;
                font-size: 6.1vw;
            }

            @include tablet-up {
                font-size: 5vw;
                margin-bottom: rem(10px);

                .bolder {
                    font-size: 5.1vw;
                }
            }

            @media (min-width: 1023px) and (max-height:758px) {
                font-size: 3.5vw;
                margin-bottom: rem(10px);

                .bolder {
                    font-size: 3.6vw;
                }
            }

            @include desktop-up {
                font-size: 2.7vw;

                .bolder {
                    font-size: 2.9vw;
                }
            }
        }

        .hero__text__description {
            font-size: 4.7vw;
            font-family: $fontRoboto;
            margin: rem(10px 0);

            @include tablet-up {
                font-size: 3.7vw;
                margin-bottom: rem(10px);
            }

            @media (min-width: 1023px) and (max-height:758px) {
                font-size: 2.5vw;
                margin-bottom: rem(10px);

                .bolder {
                    font-size: 2.6vw;
                }
            }

            @include desktop-up {
                font-size: 1.3vw;
            }
        }

        .hero__text__veganDiv {
            display: none;

            @include desktop-up {
                display: block;
                @include flexbox(row, center, center);

                .vegan-logo {
                    width: 50%;
                    margin-top: 5%;
                }
            }
        }
    }
}