* {
  box-sizing: border-box;
}

.section-inspirations {
  font-family: $fontMonserrat;
  @include flexbox(column, center);
  line-height: rem(19px);

  @include tablet-up {
    margin: rem(90px);
  }

  @include desktop-up {
    @include flexbox(row, space-between);

    &__visual:nth-child(1) {
      order: 2;
      flex-grow: 1;
      flex-shrink: 1;
      margin: rem(0 100px 0 50px);
      position: relative;
    }

    &__text:nth-child(2) {
      order: 1;
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: rem(130px);
    }
  }

  @media (max-width: 1500px) {}

  &__backsquare {
    width: rem(214px);
    height: rem(231px);
    background-color: $jacquemus;
    margin: 50px 0 100px 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: -2;

    @include tablet-up {
      width: rem(400px);
      height: rem(512px);
    }

    @include desktop-up {
      width: rem(475px);
      height: rem(580px);
      // margin: 50px 60px 100px 150px;
    }
  }

  &__productImage {
    width: rem(160px);
    height: rem(235px);
    position: relative;
    top: rem(60px);
    left: rem(70px);
    z-index: -1;

    @include tablet-up {
      width: rem(325px);
      height: rem(440px);
      position: relative;
      top: rem(110px);
      left: rem(130px);
    }

    @include desktop-up {
      width: rem(325px);
      height: rem(440px);
      position: relative;
      top: rem(80px);
      left: rem(-125px);
    }
  }

  &__title {
    font-family: $fontMonserrat;
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(16px);
    text-align: center;
    color: $jacquemus;
    margin: auto;

    &::after {
      content: "\002015";
      @include flexbox(column, center);
      height: rem(5px);
      margin-bottom: rem(30px);

      @include tablet-up {
        height: rem(30px);
      }

      @include desktop-up {
        height: rem(40px);
      }
    }

    @include tablet-up {
      font-size: rem(30px);
    }

    @include desktop-up {
      font-size: rem(30px);
      width: rem(700px);
    }
  }

  &__subtitle {
    font-family: $fontPlayfair;
    font-size: rem(20px);
    line-height: rem(24px);
    display: flex;
    align-items: center;
    color: $titleHeroAndJacquemus;
    margin-bottom: rem(15px);

    @include tablet-up {
      font-size: rem(30px);
      line-height: rem(43px);
    }

    @include desktop-up {
      font-size: rem(40px);
      line-height: rem(53px);
      width: rem(700px);
    }
  }

  &__paragraph {
    font-family: $fontMonserrat;
    font-size: rem(15px);
    line-height: rem(19px);
    color: $textSectionJacquemus;

    @include tablet-up {
      font-size: rem(20px);
      line-height: 1.5;
    }

    @include desktop-up {
      font-size: rem(18px);
      line-height: 1.5;
      width: rem(700px);
    }
  }
}