* {
  box-sizing: border-box;
}

.collection {
  margin-top: 100px;
  line-height: 19px;

  h2 {
    text-transform: uppercase;
    color: $titleSectionCollection;
    font-family: $fontMonserrat;
    font-size: $fontSizeTitleSections;
  }

  h3 {
    margin-top: 5px;
    color: $subtitleCollectionAndSelection;
    font-family: $fontNothingCould;
    font-size: 11px;
  }

  p {
    margin-top: 15px;
    font-family: $fontMonserrat;
    font-size: 13px;
    color: $text;
  }
}

.frameWallet {
  margin-top: 20px;
  width: 295px;
  height: 261px;
  background-color: $FrameWalletBackground;
}

.collection__btnWallet {
  margin-top: 12px;
  background-color: $white;
  font-size: $fontSizeBtn;
  text-transform: uppercase;
  width: 189px;
  height: 35px;
  border: $btnBorder;
  box-shadow: $btnShadow;
}
