* {
  box-sizing: border-box;
}

.collection {
  height: 145vh;
  margin-top: rem(100px);
  line-height: rem(19px);

  h2 {
    text-transform: uppercase;
    color: $titleSectionCollection;
    font-family: $fontMonserrat;
    font-size: $fontSizeTitleSections;
  }

  h3 {
    margin-top: rem(5px);
    color: $subtitleCollectionAndSelection;
    font-family: $fontNothingCould;
    font-size: rem(11px);
  }

  p {
    margin-top: rem(10px);
    font-family: $fontMonserrat;
    font-size: rem(16px);
    color: $text;
  }

  @include desktop-up {
    @include flexbox(row, space-between);
  }
}

.frameWallet {
  margin-top: rem(75px);
  width: rem(295px);
  height: rem(261px);
  background-color: $FrameWalletBackground;
}

.frameWallet--firstWalletSections {
  margin-top: rem(20px);
}

.collection__btnWallet {
  margin-top: rem(12px);
  background-color: $white;
  font-size: $fontSizeBtn;
  text-transform: uppercase;
  width: rem(189px);
  height: rem(35px);
  border: $btnBorder;
  box-shadow: $btnShadow;

  &:hover {
    cursor: pointer;
  }
}
