* {
  box-sizing: border-box;
}

.selection {
  margin-top: rem(120px);
  line-height: rem(19px);
  text-align: left;
  @include flexbox(column, flex-start, left);



  h2 {
    text-transform: uppercase;
    color: $titleSectionCollection;
    font-family: $fontMonserrat;
    font-size: $fontSizeTitleSections;

    @media (min-width: 756px) and (max-width:1200px) {
      text-align: center;
    }
  }

  h3 {
    margin-top: rem(5px);
    color: $subtitleCollectionAndSelection;
    font-family: $fontNothingCould;
    font-size: $fontSizeSubtitle;

    @media (min-width: 756px) and (max-width:1200px) {
      text-align: center;
    }
  }
}

.selection__selections {
  @include flexbox(column, center);

  @include tablet-up {
    @include flexbox(column, center, center);
  }

  @include desktop-up {
    @include flexbox(row, center, center);
  }
}

h4 {
  margin-top: rem(14px);
  margin-bottom: rem(13px);
  font-family: $fontNothingCould;
  color: $subtitleCollectionAndSelection;
  font-size: $fontSizeTitleSections;
}

p {
  margin: 5px 5px;
  margin-bottom: 15px;
  font-family: $fontMonserrat;
  font-size: $fontSizeText;
  color: $text;
}

.selections__btnaAddWallet {
  margin-top: rem(13px);
  margin-bottom: rem(30px);
  background-color: $white;
  font-size: $fontSizeBtn;
  text-transform: uppercase;
  border: rem(1px) solid rgba(0, 0, 0, 0.65);
  width: rem(93px);
  height: rem(35px);
  border: $btnBorder;
  box-shadow: $btnShadow;
  cursor: pointer;
}

.frameSelection {
  display: flex;
  justify-content: space-around;
  margin-top: rem(40px);
  width: rem(295px);
  height: rem(261px);
  background-color: $FrameWalletBackground;
  position: relative;
  z-index: -2;

  @include tablet-up {
    width: 500px;
    height: 500px;
  }

  @include desktop-up {
    width: 365px;
    height: 496px;
  }
}

.selection__wallet {
  @include desktop-up {
    &:nth-child(1) {
      margin-right: 16px;
    }

    &:nth-child(2) {
      margin-right: 16px;
    }
  }
}

//&--firstWalletSections {
// margin-top: rem(20px);
//

//.likes {
//position: absolute;
//transform: translateY(-270px) translateX(270px);
//z-index: -1;
//}