* {
  box-sizing: border-box;
}

.section-article {
  margin-top: rem(100px);
  margin-bottom: rem(100px);

  @include tablet-up {
    margin-top: rem(100px);
    margin-bottom: rem(50px);
  }

  @include desktop-up {
    margin-bottom: rem(200px);
    margin-top: rem(200px);
  }

  .section-article__title {
    @include flexbox(row, flex-start);
    text-transform: uppercase;
    color: $titleSectionCollection;
    font-family: $fontMonserrat;
    font-size: $fontSizeTitleSections;
    text-align: left;
    margin-bottom: rem(20px);

    @media (min-width: 756px) and (max-width: 1200px) {
      text-align: center;
    }

    @include tablet-up {
      text-align: center;
      @include flexbox(column, center);
      margin-top: rem(50px);
      margin-bottom: rem(50px);
    }

    @include desktop-up {
      font-size: rem(30px);
      margin-bottom: rem(60px);
      text-align: left;
      @include flexbox(row, flex-start);
    }
  }
}

.div-article {
  font-family: $fontMonserrat;
  @include flexbox(column, center);
  line-height: 1.5;
  margin: auto;
  color: $white;

  @include tablet-up {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include desktop-up {
    @include flexbox(row, center, center);
    margin: 10px 0;
    // width: 1152px;

    &__visual:nth-child(1) {
      order: 2;
      // max-width: rem(665px);
      width: 100%;
      max-height: rem(920px);
    }

    &__text:nth-child(2) {
      order: 1;
      // width: rem(720px);

      width: 100%;
      // min-width: rem(665px);
      max-height: rem(920px);
    }
  }

  &__text {
    background-color: black;
    // width: rem(300px);
    width: 100%;
    // height: rem(580px);

    @include tablet-up {
      width: 100%;
      // width: rem(500px);
      // height: rem(550px);
    }

    @include desktop-up {
      // width: rem(720px);
      width: 100%;

      height: rem(570px);
    }
  }

  &__visual {
    // width: rem(300px);
    // height: rem(300px);
    width: 100%;

    @include tablet-up {
      width: 100%;
      // height: rem(500px);
    }

    @include desktop-up {
      // width: rem(720px);
      width: 100%;

      height: rem(570px);
    }
  }

  &__img {
    width: rem(300px);
    height: rem(300px);

    @supports (object-fit: cover) {
      width: 100%;
      height: rem(300px);
      object-fit: cover;
    }

    @include tablet-up {
      width: rem(325px);
      height: rem(440px);
      top: rem(110px);
      left: rem(130px);

      @supports (object-fit: cover) {
        width: 100%;
        height: rem(570px);
        object-fit: cover;
      }
    }

    @include desktop-up {
      width: rem(665px);
      min-height: rem(420px);
    }
  }

  &__paragraph {
    font-family: $fontMonserrat;
    font-size: rem(16px);
    line-height: 1.5;
    color: $white;
    margin: 25px 20px;

    @include tablet-up {
      font-size: rem(18px);
      margin: 25px 30px;
    }

    @include desktop-up {
      font-size: 1.2vw;
      margin: 45px 30px;
    }
  }

  &__button {
    @include button-large;
    margin: 12px 30px;

    @include desktop-up {
      margin: rem(35px 30px);
      width: 300px;
      height: 50px;
      font-size: 15px;

      &:hover {
        background-color: #3d3d3d;
      }
    }
  }
}
