* {
  box-sizing: border-box;
}

.collection {
  margin-top: rem(120px);
  line-height: rem(19px);
}

h2 {
  text-transform: uppercase;
  color: $titleSectionCollection;
  font-family: $fontMonserrat;
  font-size: $fontSizeTitleSections;
  text-align: left;

  @media (min-width: 756px) and (max-width:1200px) {
    text-align: center;
  }

  @include desktop-up {
    text-align: left;
  }
}

h3 {
  margin-top: rem(5px);
  color: $subtitleCollectionAndSelection;
  font-family: $fontNothingCould;
  font-size: $fontSizeSubtitle;
  text-align: left;

  @media (min-width: 756px) and (max-width:1200px) {
    text-align: center;
  }
}

p {
  margin-top: rem(10px);
  font-family: $fontMonserrat;
  font-size: rem(16px);
  color: $text;
}

.collection__collections {
  @include flexbox(column, center);

  @include tablet-up {
    @include flexbox(column, center, center);
  }

  @include desktop-up {
    @include flexbox(row, center, center);

    //&:first-child
  }
}

.frameCollection {
  display: flex;
  //justify-content: space-around;
  margin-top: rem(40px);
  width: rem(295px);
  height: rem(261px);
  background-color: $FrameWalletBackground;

  @include tablet-up {
    width: 500px;
    height: 500px;
  }

  @include desktop-up {
    min-width: 545px;
    min-height: 512px;
  }

  //@include desktop-up {
  //width: 40vw;
  //}
}

.collection__wallets {
  @include desktop-up {
    &:nth-child(1) {
      margin-right: 30px;
    }
  }
}

/*&:nth-child(1) { collection__wallet
    @include tablet-up {
      margin-right: 5px;
    }

  &:nth-child(2) {
    @include tablet-up {
      padding-top: 43px;
    }
  }*/

.collection__btnWallet {
  margin-top: rem(12px);
  background-color: $white;
  font-size: $fontSizeBtn;
  text-transform: uppercase;
  width: rem(189px);
  height: rem(35px);
  border: $btnBorder;
  box-shadow: $btnShadow;
  cursor: pointer;
}