.sectionEvent {
  margin-top: rem(90px);
  line-height: rem(19px);

  &__event {
    @include flexbox(column, center);
    margin-top: rem(20px);

    @include tablet-up {
      @include flexbox(column, center);
    }

    @include desktop-up {
      @include flexbox(row, space-between);
    }
  }

  h2 {
    text-transform: uppercase;
    color: $titleSectionCollection;
    font-family: $fontMonserrat;
    font-size: $fontSizeTitleSections;
    text-align: left;
  }
}

.imgEvent {
  width: 295px;
  height: 438px;
  margin-bottom: 7px;
}

img.imgEvent.imgEvent--second {
  margin-left: 3px;
  width: 18.1rem;
}
