.main {
    background-color: pink;
    height: 100vh;
    @include flexbox(column);
    text-align: left;
    


    .main__product {
        height: 60vh;
    }
    
    .main__text {
        height: 40vh;
        color: $titleHeroAndJacquemus;
        margin-left: 8vw;
        

        .main__text__title {
            font-size: 24px;
            font-family: Playfair Display;
        }

        .main__text__description {
            font-size: 18px;
            font-family: robotoregular;
            line-height: 27px;
        }
    }
}