

.introduction {

    @include flexbox(column, flex-start, center);
    padding:10vh 0;
    @include flexbox(column, flex-start, center);
    @include tablet-up {
            @include flexbox(column, center, center);
    }
    @include desktop-up {
            height:100vh;
            @include flexbox(row-reverse, flex-end, center);
            width: 100%;
            padding:0;
            
        }
    .castel__desktop {

        display:none;
        
        @include desktop-up{
            display: block;
            overflow:hidden;
            left: 400px;
            top:rem(50px);
            width:60vw;
            height: auto;
            position: absolute;
            z-index: -1;
            box-shadow: 5px 5px 5px 0px black;
        }
    }
    img {
        
        width: 80vw;
        height: 25vh;
        max-width: rem(900px);
        height: auto;

        @include desktop-up{
            display:none;
            overflow:hidden;
            left: 0;
            top:rem(50px);
            width:100%;
            height: rem(550px);
            position: absolute;
            z-index: -1;
            box-shadow: 5px 5px 5px 0px black;
        }

    }
    span {
        font-size:24px;
    }

    .introduction__text { 
        
        position: relative;
        background-color: $black;
        width: 80vw;
        max-width: rem(900px);
        padding: 0 15px ;

        @include desktop-up { 
            
            position: relative;
            z-index:-2;
            background-color: $black;
            width: rem(1300px);
            height: rem(700px);
            left:0;
            box-shadow: 5px 5px 5px 0px black;
        }
        p {
            
            color: $white;
            font-size: $fontSizeText;
            font-family: $fontMonserrat;
            line-height: 1.5;
            margin: 1vh;

            @include desktop-up {
                color: $white;
                font-size: $fontSizeTextDesktop;
                font-family: $fontMonserrat;
                line-height: 1.5;
                margin: rem(50px);
                width:rem(275px);
            }
        }
    }
}


        
    

/*--------------------------------------------------------------*/

.collaboration {

    .collaborationFirstPart {
        @include flexbox( column, space-around, center);
        @include desktop-up {
            height:100vh;
            width:100%;
            padding: 0 ;
            display:grid;
            grid-template-rows:1fr 2fr;
            grid-template-columns:repeat(2, 1fr);
            grid-template-areas:
            "title ."
            "logo texts";}

        img, h1, h2, .collaborationFirstPart__text {
            
            width: 80vw;
            max-width:rem(600px);

            @include desktop-up {
                width: 500px;
                max-width:rem(900px);
            }

        }
        img {
            @include desktop-up {
                
                grid-area:logo;
                align-self:start;
            }
        }

        h1 {

            font-family: $fontPlayfair;
            font-size:rem(52px);

            @include desktop-up {
                font-family: $fontPlayfair;
                font-size:rem(52px);
                grid-area:title;
                
            }
        }
        h2 {
            
            color: $jacquemus;
            text-transform: uppercase;
            font-family: $fontMonserrat;
            font-weight: 600;
            font-size: $fontSizeTextJacquemus;
            padding: rem(10px) 0 ;

            @include desktop-up {
                margin-left:30%;
                color: $jacquemus;
                text-transform: uppercase;
                font-family: $fontMonserrat;
                font-weight: 600;
                font-size: $fontSizeTextJacquemus;
                padding: rem(10px) 0 ;
                  
            }
        }
        .title{
            @include desktop-up {

                width:rem(300px);
                align-self:center;
                
            }
        }
        .collaborationFirstPart__text {

            position: relative;
            margin-bottom: 10vh;
            padding: 10vh 0;

            @include desktop-up {

                position: relative;
                padding: 0;
                margin:0;
                grid-area:texts;
                justify-self:start;
                align-self:start;
                width:100%;

            }
            
            p {
            
                color: #000000;
                font-size: $fontSizeText;
                font-family: $fontMonserrat;
                line-height: 1.5;
                
                
                @include desktop-up {
                    color: #000000;
                    font-size: $fontSizeTextDesktop;
                    font-family: $fontMonserrat;
                    line-height: 1.5;
                    max-height:rem(300px);

                }
            }
        }
    }
    .collaborationSecondPart {
        
        @include flexbox( column, space-around, center);
        
                
        @include desktop-up{
            height:100vh;
            width:100%;
            padding: 0;
            display:grid;
            margin-bottom:10%;
            grid-template-rows:repeat(2, 1fr);
            grid-template-columns:repeat(2, 1fr);
            grid-template-areas:
            "texts photo"
            "logo photo";
        }
        img:first-child {
            @include desktop-up{
                
                grid-area:photo;
                align-self:end;
                justify-self:end;

            }

        }
        img, .collaborationSecondPart__text {
           
            width: 80vw;
            max-width: 500px;
            height: auto;

            @include desktop-up {
                width: 100%;
                max-width: rem(625px);
                height: auto;
            }
        }

        .collaborationSecondPart__text {
            margin: rem(50px) 0;
            
            @include desktop-up {
                margin: rem(50px) 0;
                grid-area:texts;
                align-self:end;
            }

            p {
            
                color: black;
                font-size: $fontSizeText;
                font-family: $fontMonserrat;
                line-height: 1.5;
            
                @include desktop-up {
                    color: #000000;
                    font-size: $fontSizeTextDesktop;
                    font-family: $fontMonserrat;
                    line-height: 1.5;
                }
            }
        }
    }
}



