
.personalisation {
  * {
    box-sizing: border-box;
  }

  @include format;
  margin-top: 10vh;
  


  &__text {
    @include flexbox(column, space-around, left);
    height: 15vh;
    background-color: paleturquoise;
    margin: 0 2vh;

    h1 {
      font-family: $fontNothingCould;
      font-size: rem(24px);
      color: $titlePagePersonalisation;
    }

    p {
      font-family: $fontMonserrat;
      font-size: rem(16px);
      color: #3d3d3d;
      margin: 0;
    }
  }

  &__image {
    height: 40vh;
    background-color: pink;
    margin: 0 2vh;

    img{
      width: 100%;
      margin: 8px 0;
      object-fit: cover;
      
    }
  }

  &__btn {
    height: 10vh;
    background-color: thistle;
    margin: 0 2vh;
    @include flexbox(space-around);

    &__left {
      background: white url(/icons/btn-next-left.svg) no-repeat center;
    }

    &__right {
      background: white url(/icons/btn-next-right.svg) no-repeat center;
    }

    &__left, &__right {
      background-size: 50%;
      border: 1px solid rgba(239, 183, 202, 0.39);
      margin: 0 2vh;
      border-radius: 0;
      height: 5vh;
      width: 6vh;
    }

  }

  &__choices {
    height: 15vh;
    height: 40px;
    margin: 0 2vh;

    &__colors {
      width: 100%;
      @include flexbox(row, space-around, center);

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.76);
  
        &.btn--vindigo {
          background-color: #0086AC;
        }
  
        &.btn--bordeaux{
          background-color: #401916;
        }
  
        &.btn--chardonay{
          background-color: #B4A686;
        }
  
        &.btn--petula{
          background-color: #D5B8B7;
        }
      }
    }
  }

  &__price {
    height: 10vh;
    background-color: wheat;
    margin: 0 2vh;

    p {
      margin: 0;
    }

    /*
    border-bottom: 1px solid $text;
    font-size: rem(24px);
    */
  }
}
