
 * {
  box-sizing: border-box;
}
.personalisation {

  @include format;
  margin-top: 10vh;

  @include tablet-up {
    display: none;
  }
  


  &__text {
    @include flexbox(column, space-around, left);
    height: 15vh;
    background-color: paleturquoise;

    h1 {
      font-family: $fontNothingCould;
      font-size: rem(24px);
      color: $titlePagePersonalisation;
    }

    p {
      font-family: $fontMonserrat;
      font-size: rem(16px);
      color: #3d3d3d;
      margin: 0;
    }
  }

  &__image {
    height: 40vh;
    background-color: pink;
    

    img{
      width: 100%;
      margin: 8px 0;
      object-fit: cover;
      
    }
  }

  &__btn {
    height: 10vh;
    background-color: thistle;
    @include flexbox(row, space-around, center);

    &__left {
      background: white url(/icons/btn-next-left.svg) no-repeat center;
    }

    h2 {
      font-size: rem(18px);
      font-family: $fontMonserrat;
      color: $text;
    }

    &__right {
      background: white url(/icons/btn-next-right.svg) no-repeat center;
    }

    &__left, &__right {
      background-size: 50%;
      border: 1px solid rgba(239, 183, 202, 0.39);
      border-radius: 0;
      height: 5vh;
      width: 6vh;
    }

  }

  &__choices {
    height: 15vh;
    height: 40px;

    @include tablet-up {
      display: none;
    }

    &__colors {
      width: 100%;
      @include flexbox(row, space-around, center);

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.76);
  
        &.btn--vindigo {
          background-color: #0086AC;
        }
  
        &.btn--bordeaux{
          background-color: #401916;
        }
  
        &.btn--chardonay{
          background-color: #B4A686;
        }
  
        &.btn--petula{
          background-color: #D5B8B7;
        }
      }
    }

    &__symbols {
      @include flexbox(row, space-around, center);
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.76);
    }

    &__finishing {
      @include flexbox(row, space-around, center);
      height: 100%;

      &__pearl, &__metal {
        height: 40px;
        width: 100px;
        border: 1px solid #F3DCE4;
        background-color: #F5EFF1;
      }
    }

  }

  &__price {
    height: 10vh;
    background-color: wheat;
    margin: 0 2vh;

    p {
      margin: 0;
    }

    /*
    border-bottom: 1px solid $text;
    font-size: rem(24px);
    */
  }
}

.personalisation-desktop {
  display: none;
  

  @include tablet-up {
    @include flexbox(row, space-between, center);
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 10vh;

    &__product {
      @include flexbox(column, space-around, center);
      flex-wrap: wrap;
      background-color: blue($color: #000000);
      width: 50%;
      margin-left: 5vw;
      padding-right: 40px;
      height: 70vh;
      width: 50%;
      
      h3 {
        font-family: $fontMonserrat;
        color: $text;
      }

      &__text__title {
        font-family: $fontNothingCould;
        font-size: rem(36px);
        color: $titlePagePersonalisation;
      }

      &__text__subtitle {
        color: $h5;
        font-size: rem(24px);
        font-family: $fontMonserrat;
      }

      &__image {
        height: 60%;
      }
    }  

    &__input {
      @include flexbox(column, space-around, stretch);
      height: 44vh;
      color: $footerText;
      font-family: $fontMonserrat;
      background-color: #B4EFFF;
      height: 70vh;
      width: 50%;
      padding: 24px;


      h3 {
        font-family: $fontMonserrat;
        color: $text;
      }

      .input-category {
        @include flexbox(row,space-between, center);
        flex-wrap: wrap;
        flex-grow: 0.5;
        flex-shrink: 1;
        flex-basis: auto;
        border-bottom: 0.5px solid $footerBackgroudAndLine;

       

      }

      .colorBtn{
        
        :nth-child(1){
          background-color: #681D1D;
        }

        :nth-child(2){
          background-color: #B4A686;
        }

        :nth-child(3){
          background-color: #D5B8B7;
        }

        :nth-child(4){
          background-color: #0086AC;
        }


        
        .colorBtn--chardonay, .colorBtn--petula, .colorBtn--vindigo, .colorBtn--bordeaux { 
          height: 32px;
          width: 32px;
          border-radius: 50%;
          border: 1px solid $text;
          margin: 8px;

        }
      }

      &__symbol {
        

        .symboleImage {
          width: 50%;
         
        }
      }

      &__finishing {

        .finishing--metal, .finishing--pearl {
          height: 40px;
          width: 100px;
          @include border;
          font-size: 14px;
          background-color: white;
        }
      }




    }
  }
}
