/**
* COLORS
*/

// PRIMARY :
$black: #222222;
$white: #ffffff;
$text: #3d3d3d;
$footerText: #8e3e3e;

// SECONDARY
$titleSectionHeroAndJacquemus: #562a01;
$jacquemus: rgb(205, 153, 153, 0.45);
$textSectionJacquemus: #80596c;
$titleSectionCollection: #3d3d3d;
$subtitleCollectionAndSelection: #c58fa1;

// COLOR BACKGROUND
$jacquemusWalletBackground: rgb (123, 6, 0, 0.21);
$walletBackground: rgb (207, 177, 189, 0.21);
$footerBackgroundTitle: #634b57;
$footerBackgroudAndLine: #f4eef1;

// GRADIENTS :
$gradient: linear-gradient(90deg, #6b75ca 0%, rgba(240, 243, 248, 0) 100%);

/**
* FONTS
*/
$font: "Sofia Pro", sans-serif;

/**
* BREAKPOINTS
*/
$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

/**
* GLOBAL
*/
$headerHeight: 40px;
